doctype html
include head.pug
body
  //- .hide
  .container-fluid
    h3.text-center #{ myName }'s Category Points
    .profile-pic
      img(src=imageSrc, alt="profile pic").img-responsive.img-rounded
    .pointsDiv.text-center
      table.table.table-condensed.table-bordered
        tbody
          tr
            th.text-center Category
            th.text-center Points
          each val, index in points
            tr
              td= `${index}`
              td= `${val}`
  .badges-container.container
    h3.text-center Badges
    .row
      each badge in badges
        .badge.col-md-3.col-md-offset-4
          img(src=badge.icon_url).img-responsive
          small #{ badge.name }
    .search.text-center
      a(href="/").btn.btn-warning Search Again
  include footer.pug
  script(src="/js/view.js")