doctype html
include head.pug
body
  //- .hide
  .container
    h3.text-center #{ myName }'s Category Points
    .profile-pic
      img(src=imageSrc, alt="rakeem profile pic").img-fluid.rounded
    .pointsDiv.text-center
      table.table.table-inverse.table-bordered.table-hover
        tbody
          tr
            th.text-center Category
            th.text-center Points
          each val, index in points
            tr
              td= `${index}`
              td= `${val}`
    h3.text-center Badges
    .row
      each badge in badges
        figure.figure.col-4.col-sm-3
          img(src=badge.icon_url, alt="treehouse badge icon").figure-img.img-fluid.rounded
          figcaption.figure-caption.text-center #{ badge.name }
    .search.text-center
      a(href="/").btn.btn-warning Search Again
  include footer.pug
  script(src="/js/view.js")